/* --------------
	SIDEBAR CATEGORIAS
---------------*/
.sidebarCategorias .categoriasUlListaDesejos .categoriaFilha {
	padding-left: 25px;
}

.auxiliarFiltros {
	border-top: 1px solid #E5E5E5;
	padding-top: 18px;
}

.visualizandoTxt {
	float: left;
	display: block;
	padding-top: 10px;
}

.produtoUl .produtoLi {
	border-bottom: 1px solid #E5E5E5;
	padding: 25px 0 26px;
	display: block;
}

.produtoUl .produtoLiFirst {
	padding-top: 0;
}

.produtoUl .produtoLiLast {
	margin-bottom: 40px;
	border-bottom: none;
}

.produtoUl .produtoLi .produtoImagem {
	float: left;
	margin: 0 25px 0 11px;
}

.produtoUl .produtoLi .produtoInformacoes {
	max-width: 260px;
	float: left;
	color: #808080;
}

.produtoInformacoes .produtoTitulo {
	text-transform: uppercase;
	color: #000;
	font-family: 'pathway_gothic_oneregular', sans-serif;
	font-size: 20px;
	line-height: 1em;
	padding-bottom: 12px;
}

.produtoUl .produtoLi:hover .produtoTitulo {
	text-decoration: none;
}

.produtoInformacoes .produtoValor {
	display: block;
	color: #000;
	padding-bottom: 4px;
	font-family: 'pathway_gothic_oneregular', sans-serif;
	font-size: 20px;
	line-height: 1em;
}

.produtoInformacoes .produtoValor span {
	text-decoration: line-through;
}

.produtoInformacoes .produtoValorParcelado .produtoParcelado {
	color: #c8965a;
	font-family: 'pathway_gothic_oneregular', sans-serif;
	font-size: 26px;
	line-height: 1em;
	display: block;
}

.produtoInformacoes .produtoValorParcelado .produtoVezes {
	font-size: 20px;
}

.produtoInformacoes .produtoValorParcelado .produtoJuros {
	color: #808080;
	font-size: 20px;
}

.produtoInformacoes .produtoValorVista {
	padding-top: 4px;
	display: block;
}

.produtoInformacoes .produtoBts {
	padding-top: 13px;
}

.produtoInformacoes .produtoBts .produtoBt {
	background: url('../img/icons/icones.png') no-repeat;
	padding: 0 0 2px 20px;
	color: #808080;
	display: block;
	line-height: 17px;
}

.produtoInformacoes .produtoBts .produtoBt:hover {
	text-decoration: underline;
}

.produtoInformacoes .produtoBts .produtoBtAdcionar {
	background-position: 0 -1500px;
}

.produtoInformacoes .produtoBts .produtoBtRemover {
	background-position: 0 -1571px;
}

.produtoLi .produtoOpcoes {
	width: 190px;
	background: #DDD;
	float: right;
	margin: 20px 21px 0 0;
}

.produtoLi .produtoOpcoes .btOpces {
	display: block;
	position: relative;
	color: #FFF;
	font-family: 'pathway_gothic_oneregular', sans-serif;
	font-size: 20px;
	line-height: 1em;
	text-transform: uppercase;
}

.produtoLi .produtoOpcoes .btOpces:hover {
	background: #c8965a;
	color: #000
}

.produtoLi .produtoOpcoes .btOpcesComprar {
	width: 151px;
	background: #000;
	height: 35px;
	text-transform: uppercase;
	margin-bottom: 2px;
	padding: 19px 0 0 39px;
}

.produtoLi .produtoOpcoes .btOpcesComprar .icone {
	background: url('../img/icons/icones.png') no-repeat;
	background-position: 0 -1689px;
	width: 34px;
	height: 34px;
	position: absolute;
	top: 8px;
	right: 30px;
}

.produtoLi .produtoOpcoes .btOpcesAdicionar {
	background: #000;
	width: 190px;
	height: auto;
	text-align: center;
	padding: 12px 0;
	font-size: 18px;
}

